ttf-leaguegothic/League Gothic.ttf
ttf-leaguegothic/league-gothic.zip
ttf-leaguegothic/debian/ttf-leaguegothic.debhelper.log
ttf-leaguegothic/debian/ttf-leaguegothic.substvars
ttf-leaguegothic/debian/ttf-leaguegothic/
ttf-leaguegothic_001.000-1.dsc
ttf-leaguegothic_001.000-1.tar.gz
ttf-leaguegothic_001.000-1_all.deb
ttf-leaguegothic_001.000-1_i386.build
ttf-leaguegothic_001.000-1_i386.changes
